footer {
    width: 100%;
    background-color: #1D4645;

    .container {
        width: 1140px;
        margin: 0 auto;

        .footer {
            .footer_top {
                padding: 300px 0 100px 0;
                display: flex;
                flex-direction: row;
                gap: 50px;
                justify-content: space-around;
                align-items: center;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h5 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        color: #E8C5B0;
                    }

                    li {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        color: #FFFFFF;
                        text-transform: capitalize;
                    }
                }

                .medias {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    li {
                        border-radius: 50%;
                        padding: 10px 15px;
                        background: #E8C5B0;
                    }
                }
            }

            .footer_bottom {
                padding: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: rgba(255, 255, 255, 0.502972);
                }

                .right_side {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    span {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        color: #FFFFFF;
                    }
                }

            }
        }
    }
}