.sect4 {
    width: 100%;

    .container {
        width: 1140px;
        margin: 0 auto;

        .section4 {
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            gap: 80px;

            .heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 50px;

                span {
                    font-weight: 700;
                    font-size: 50px;
                    text-transform: capitalize;
                    color: #1D4645;
                    padding: 0 200px 0 0;
                }

                button {
                    border: 1px solid black;
                    border-radius: 8px;
                    background-color: white;
                    color: black;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 10px 30px;
                }
            }

            .exams {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .top_side {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    .model_test {
                        display: flex;
                        flex-direction: row;
                        border-radius: 4px;
                        width: 66%;

                        .information {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding: 30px;
                            background: #102F2E;

                            span {
                                font-weight: 700;
                                font-size: 40px;
                                line-height: 48px;
                                color: #FFFFFF;
                            }

                            p {
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 40px;
                                text-align: justify;
                                color: #D2D2D2;
                            }
                        }
                    }

                    .card3 {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        border-radius: 4px;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        padding: 50px 25px;
                        background-color: #FFF2E6;
                        width: 32%;

                        .img {
                            margin-left: 100px;
                        }

                        span {
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 32px;
                            color: #1D4645;
                        }
                    }
                }

                .bottom_side {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    .card {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        border-radius: 4px;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        padding: 50px 25px;
                    }

                    .card4,
                    .card6 {
                        background: #102F2E;
                        width: 33%;

                        .img {
                            margin-left: 100px;
                        }

                        span {
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 32px;
                            color: #FFFFFF;
                        }
                    }

                    .card5 {
                        background-color: #FFF2E6;
                        width: 33%;

                        .img {
                            margin-left: 100px;
                        }

                        span {
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 32px;
                            color: #1D4645;
                        }
                    }
                }
            }
        }
    }
}